p{
    color: #8b8a8a;
}

h1{
    font-size: 1.75rem;
    font-weight: bold;
    color: black;
}

a{
    color: rgb(154, 0, 105);
}

.cross-image {
    position: absolute;
    top: 5.75rem;
    right: 1.75rem;
    cursor: pointer;
    height: 15px;
    width: 15px;
  }