.table {
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
    font-size: 14px;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    /* border: 1px solid #ddd; */
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 1rem;
    text-align: center;
    background-color: transparent;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    color: #6c757d;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .page-item.active .page-link {
    background-color: white;
    color: #6f008e;
    border: 1px solid #6f008e;
  }
  
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
  }

.priority-low {
    color: #2F80ED;
    background-color: #c8deff;
    border-radius: 12px;
    padding: 2px 8px;
    display: inline-block;
    font-size: 0.8rem;
  }
  
  .priority-medium {
    color: #c39200;
    background-color: #FFE5B4;
    border-radius: 12px;
    padding: 2px 8px;
    display: inline-block;
    font-size: 0.8rem;
  }
  
  .priority-high {
    color: #EB5757;
    background-color: #FFCCCC;
    border-radius: 12px;
    padding: 2px 8px;
    display: inline-block;    
    font-size: 0.8rem;
  }
  